body {
    font-family: 'Delius', cursive;
}
h1, h2, h3, .font-tektur {
    font-family: 'Tektur', sans-serif;
}
.bg-hero {
    background-image: url('https://placehold.co/1920x1080/111827/475569?text=Welcome');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
html {
    scroll-behavior: smooth;
}
.object-position-custom {
    object-position: 50% 30%;
}
